.threadCreateLink {
  background-color: chocolate;
  border-radius: 32px;
  color: white;
  padding: 16px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.threadCreateLink:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.threadTitle {
  font-size: 40px;
  font-weight: bold;
  margin-top: 32px;
}

.threadContainer {
  width: 800px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.commentItem {
  font-size: 24px;
  border: 1px solid #d9d7d7fb;
  border-radius: 8px;
  padding: 32px;
  margin-top: 16px;
}

.notComments {
  font-size: 24px;
  margin-top: 16px;
}
