.threadCreateLink {
  background-color: chocolate;
  border-radius: 32px;
  color: white;
  display: inline-block;
  padding: 16px;
}

.threadContainer {
  padding: 24px;
}

.pageTitle {
  font-size: 32px;
  font-weight: bold;
  padding: 16px;
}

.threadListItem {
  font-size: 18px;
  border-top: 1px solid #d9d7d7fb;
  padding: 32px;
}
